h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
    
    color: #000;
  }
  h2 {
    font-size: 1.6rem;
    padding: 0rem 0;
    
    color: #000;
  }
  h2:hover{
    color: #f1b614;
  }
  img {
    border-radius: 0.5rem;
   
  }
  img.medium {
   max-height: 196px;
  }
  
  /* Card */
  .card {   
    background-color: #f8f8f8;
    margin: 1rem;
    padding: 10px;    
    width:25rem;
    height: 40rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: 0.2s ;
    box-shadow: 0 3px 15px rgba(0,0,0,0.15)
  }
  .card:hover {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  


  .card-body {
    padding: 10px;
  }
  .card-body > * {
    margin-bottom: 0.5rem;
  }
  .price {
    font-size: 2rem;
    margin-bottom: 15px;
  }
  /* Rating */
  .rating span {
    margin-top: 25px;
    color: #f0c040;
    margin: 0.1rem;
  }