h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
  }
  h2 {
    font-size: 1.6rem;
    padding: 0rem 0;
  }
  img {
    border-radius: 0.5rem;
    width: 30%;
    height: 35%;
  }
  img.medium {
    max-width: 32rem;
    width: 100%;
    height: 180px;   
  }
  
  /* Card */
  .card {
    border: 0.1rem #c0c0c0 solid;
    background-color: #f8f8f8;
    border-radius: 0.5rem;
    margin: 1rem;
    padding: 10px;
  }
  .card-body {
    padding: 10px;
  }
  .card-body > * {
    margin-bottom: 0.5rem;
  }
  .price {
    font-size: 2rem;
    margin-bottom: 15px;
  }
  /* Rating */
  .rating span {
    margin-top: 25px;
    color: #f0c040;
    margin: 0.1rem;
  }