
.placeorder{
    display: flex;
    flex-grow: wrap;
    padding: 1rem;
    justify-content: space-between;
  }
  @media screen and (max-width:848px){ 
    .placeorder { 
      display: block;
    }}
  
  .placeorder-info{
    flex: 3 1 60rem; 
  }
  .placeorder-action{
    flex: 1 1 20rem;
    border: .1rem #c0c0c0 solid;
    border-radius: .5rem;
    background-color: #fcfcfc;
    padding: 1rem;
  }
  .placeorder-info > div{
    border: .1rem #c0c0c0 solid;
    border-radius: .5rem;
    background-color: #fcfcfc;
    padding: 1rem;
    margin: 1rem;
  }
  .placeorder-info > div:first-child{
    margin-top: 0;
  }
  .placeorder-action > ul {
    padding: 0;
    list-style-type: none;
  }
  .placeorder-action > ul > li{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  .placeorder-action > ul > li:last-child{
      font-size: 2rem;
      font-weight: bold;
      color: #c04000;
  } 
  
  .cart-action{
    flex:1 1 20rem;
    background-color: #f0f0f0; 
    border-radius: .5rem;
    padding: 1rem;
    margin: 25px;
  }
  .cart-list-container {
    padding: 0;
    list-style-type: none;
    padding: 5rem;
      
  }
  .cart-list-container  li{
    display: flex;
    justify-content: start;  
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom:.1rem #c0c0c0 solid;
  }
  .cart-list-container  li img{
    max-width: 10rem;
    max-height: 10rem;
  }
  .cart-list-container  li:first-child{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  }
  .cart-image{
    flex: 1 1;
  }
  .cart-name{
    flex: 8 1;
    
  }
  .cart-price{
    flex: 1 1;
    font-size: 2.5rem;
    text-align: right;
  }