/* Header */
header a {
  color: #ffffff;
  
}

header{
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.header-links > * {
  margin-right: 20px;
  display: block;
}
a.brand {
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
}
.header-links{
  
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: end;
  
  
}